%p.menu
  = link_to 'Create a New Issue', new_admin_issue_path
%p.menu
  = link_to 'Edit/Add Users', admin_users_path if session['user_name'] == 'mho'
%p.menu
  = link_to 'Logout', logout_admin_users_path
%p.menu
  = link_to 'Main Site', empty_path

