%table
  %tr
    %td
      = @f.label_for(:user_name)
    %td
      = @f.text_field(:user_name)
  %tr
    %td
      = @f.label_for(:password)
    %td
      = @f.password_field(:password)
  %tr
    %td
      %label{"for"=>"confirm_password"}
        Confirm Password
    %td
      %input#confirm_password{"name"=>"confirm_password", "size"=>"30", "type"=>"password"}/
