%meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=iso-8859-1"}/
%meta{:name=>"author", :content=>"Berkeley Daily Planet, Berkeley California"}/
%meta{:name=>"keywords", :content=>"local news Berkeley California Politics Land-Use Progressive editorial berkeley albany oakland emeryville el cerrito richmond"}/
%meta{:name=>"description", :content=>"The East Bay's Non-commercial Voice"}/
%title
  = @title || title()

