<h3>Links we like:</h3>
<p><a target="_blank" href="http://www.berkeleycouncilwatch.com/">www.berkeleycouncilwatch.com/</a></p>
<p><a target="_blank" href="http://richardbrenneman.wordpress.com/">Richard Brenneman: Eats, Shoots 'n' Leaves</a></p>
<p><a target="_blank" href="http://jpstillwater.blogspot.com/">Jane Stillwater&rsquo;s Web Log</a></p>