#content
  %h1.cntr.air_below
    Web Ad Sizes

  #second_col
    .gutter
      .large_slice_sample
        %b
          Large Slice 
          %br/
          (300px by 150px)
        .price
          \$164 per Week for 13 Weeks
      .medium_slice_sample
        %b
          Medium Slice (IAB 3:1 Rectangle)
          %br/
          (300px by 100px)
        .price
          \$126 per Week for 13 Weeks
      .small_slice_sample
        %b
          Small Slice (300px by 50px)
        .price
          \$82 per Week for 13 Weeks
      .sliver_sample.air_below
        %b
          Sliver (300px by 25px)
        \$54/Week
      .small_button_sample.left
        %b
          Small Button
          %br/
          (130px by 100px)
        .price
          \$78 per Week for 13 Weeks
      .wide_sky_sample.left
        %b
          Wide Skyscraper (IAB)
          %br/
          (160px by 600px)
        .price
          \$281 per Week for 13 Weeks
      .clear
        &nbsp;
  #first_col
    .gutter
      .med_rect_sample
        %b
          Medium Rectangle (IAB)
          %br/
          (300px by 250px)
        .price
          \$229 per Week for 13 Weeks

      .wide_vert_banner_sample.left
        %b
          Wide Vertical Banner
          %br/
          (160px by 240px)
        .price
          \$154 per Week for 13 Weeks
      .vert_banner_sample.left
        %b
          Vertical Banner (IAB)
          %br/
          (120px by 240px)
        .price
          \$136 per Week for 13 Weeks
      
      /.cntr.air_above
      /  <div align="center"><script language="JavaScript" src="http://www.websitetoolbox.com/cgi/view/poll.cgi?username=mhomalley&id=15397"></script></div>
      /      
      /.cntr.air_above
      /  <iframe width="160" scrolling="no" height="240" frameborder="no" allowtransparency="true" framespacing="0"  src="/locads/lookingglass.html">
      /  </iframe>
      .clear
        %b 
          = link_to 'IAB','http://www.iab.net/iab_products_and_industry_services/1421/1443/1452', :target => '_blank'
        means that that particular ad size is defined by the Interactive Advertising Bureau, 
        an industry wide group which sets web advertising standards.
  
= partial_include("nav_topics")

