- @title = "Party at the Omni!"
.width640.center
  .gutter
    %div{:align => "center"}
      %h1.red
        Save The
      %h5
        (Berkeley Daily)
      %h1.red
        Planet
      %br
      %h2
        a benefit sponsored by ARTISTS FOR CHANGE
      %br
      %h3.large_air_below
        Sunday, Jan. 24, 4:30-7:30 p.m.
        %br
        at The Omni, 4799 Shattuck Ave.
      $50 singles/$90 couples at the door (suggested donation).
      %br
      Checks/cash/credit cards welcome at the door
      %br
      or
      %br
      $45/$80, in advance:
      %br
      %br
        
    
    
    %div{ :style => "border:solid windowtext .5pt;padding:9.0pt 4.0pt 1.0pt 4.0pt" }

      %p.MsoNormal{ :align => "center", :style => "text-align:center;border:none;\n    mso-border-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:9.0pt 4.0pt 1.0pt 4.0pt" }
        %span{ :style => "color:red;background:yellow;mso-highlight:yellow" }
          %i
            Because reporting the news is expensive, I'd like to contribute to

      %p.MsoNormal{ :align => "center", :style => "text-align:center;border:none;\n    mso-border-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:9.0pt 4.0pt 1.0pt 4.0pt" }
        %span{ :style => "font-size:14.0pt" } &nbsp;

      %p.MsoNormal{ :align => "center", :style => "text-align:center;border:none;\n    mso-border-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:9.0pt 4.0pt 1.0pt 4.0pt" }
        %span{ :style => "font-size:14.0pt;color:red;background:yellow;mso-highlight:yellow" }
          %b
            The Berkeley Daily Planet's

      %p.MsoNormal{ :align => "center", :style => "text-align:center;border:none;\n    mso-border-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:9.0pt 4.0pt 1.0pt 4.0pt" }
        %span{ :style => "font-size:14.0pt;font-family:Arial;color:red;background:yellow;\n    mso-highlight:yellow" }
          Fund for Local Reporting
        %span{ :style => "font-size:\n    14.0pt;font-family:Arial;color:red" }

      %p.MsoNormal{ :align => "center", :style => "text-align:center;border:none;\n    mso-border-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:9.0pt 4.0pt 1.0pt 4.0pt" }
        %br
        %span{ :style => "font-size:12.0pt;font-family:Arial" }
          Donate $80 to The Fund for Local Reporting for two tickets to the benefit at the Omni.
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="10981319">
          <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
          %br
          Donate $45 to The Fund for Local Reporting for one ticket to the benefit at the Omni.
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="10981542">
          <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
          %br
    %br
    %div{:align => "center"}
      %h3
        with Faye Carol and Sista Kee, Grupo Falso Baiano, 
        %a{:href => "http://www.berkeleydailyplanet.com/locads/images/verismo.pdf"}
          Verismo Opera
      %h4
        Good food and drink. Silent auction and other fun activities.
      %h4
        Help keep a valuable community resource alive!!!!
      %br
      %h3
        EARLY ENDORSERS
      %br
      %h3
        Organizations
      %br
      Artists for Change
      %br
      Green Party of Alameda County
      %br
      Berkeley Architectural Heritage Association (BAHA)
      %br
      Standing Together for Accountable Neighborhood Development (STAND)
      %br
      West Berkeley Artisans & Industrial Companies (WEBAIC)
      %br
      Concerned Neighbors of College Ave. Safeway.
      %br
      %br
      %h3
        Elected officials
      %br
      Oakland Mayor Ronald V. Dellums
      %br
      Keith Carson, Alamada County Supervisor
      %br
      Nancy Nadel, Oakland City Council
      %br 
      Kriss Worthington, Berkeley City Council  •  Jesse Arreguin, Berkeley City Council
      %br
      Shirley Dean, former Mayor of Berkeley  •  Gayle McLaughlin, Richmond Mayor
      %br
      Tom Butt, Richmond City Council  •  Jeff Ritterman, Richmond City Council
      %br
      Wilson Riles Jr., Green Party, former member Oakland City Council.
      %br
      %br
      %h3
        Community Activists
      %br
      Susan Cerny, BAHA  •  John Curl, WeBAIC  •  Stuart Flashman  • Annette Floystrup
      %br
      Gail Garcia, BAHA  •  Sophie Hahn • Austene Hall
      %br
      Ralph Kanz, former member, Oakland Ethics Commission  •  Jane Powell
      %br
      Larry Shoup, Green Party  • Daniella Thompson, BAHA  •  James E.Vann, architect.
      %br
      %br
      %h3
        Artists/Curators/Writers/Cultural Workers
      %br
      Adelie Bischoff •  Gray Brechin •  Robert Brokl •  Lisa Esherick •  June Felter
      %br 
      Foster Goldstrom •  Art Hazelwood •  Bonnie Hughes •  Roberta Loach
      %br
      Susan Parker •  Peter Selz •  M. Louise Stanley •  Livia Stein.
      %br
      Plinio Alberto  •  Bob Baldock
      %br
      Joy and Jerry Carlin
      %br
      Patrick Dooley •  Doug Minkler
      %br
      %br
      %h3
        Merchants
      %br
      Don Collins, General Appliance of Berkeley
      %br
      Lee Jester, The Craftsman Home
      %br
      Gary Shows, Alko Office Supply
      %br
      Suzan Steinberg,  Stonemountain and Daughter Fabrics
      %br
      Ed Young, Paul's Shoe Repair.
      %br
      %i
        (Organizational affiliations listed for identification only )
      %br
      %br
      %h3
        %i
          Some selected items from the growing list of silent auction items:
      %br
      Dinner hosted by dealer/collector Foster Goldstrom in the Maybeck-designed Chick House
      %br
      /Dinner for up to 8 people at the home of Peter Selz and Carole Schemmerling
      /%br
      Tour for 8-10 people of Berkeley creeks led by Carole Schemmerling
      %br
      Art work by Art Hazelwood and other local artists
      %br
      Guided walking tour of Maybeck Country led by Jane Edginton
      %br
      BAHA publications and the Berkeley Landmarks book
      %br
      Consultation by author/restoration consultant Jane Powell
      %br
      Research of your residence by writer/historian Daniella Thompson
      %br
      Catalogs of Lisa Esherick restrospective
      %br
      Dinner for up to 10 people hosted by Becky & Michael O'Malley
      %br
      at the Julia Morgan-designed Chamber Arts House
      %br
      Gift Certificate for Stonemountain and Daughter Fabrics
      %br
      Gift baskets from Tencue Productions Inc., Berkeley
      %br
      Gangfeng Wang photograph, donated by Alta Galleria
      %br
      Artwork by Art Hazelwood, Livia Stein, and other local artists. 
      %br
      KPFA posters by Bob Baldock.
      %br
      Collectibles from Martha Nicoloff
      %br
      Parent and Student Sessions by B.O.L.D. (Bright Options for the
      Learning Disabled)--College Advising and Retention Services
      %br
      Jewelry by Diane Arsanis
      %br
      Vintage wines, etc.
      %br
      %br
      %br
    %h3
      For more information, to donate to the auction or to RSVP:
    Bob/Al 655-3841, 
    <a href="mailto:broklcrofts@earthlink.net">broklcrofts@earthlink.net</a>.
    %br
    %br
    %br
    
