- @title = "The 2008 Election -- The horse race from #{title()}"
#content
  .gutter
    %h1.large_air_below
      The 2008 Election -- The horse race
    %h2.air_above.clear
      Electoral Vote Based on Current Polling Data.
    .left_box.air_above
      <a href="http://www.electoral-vote.com/"><img border="0"
      src="http://www.electoral-vote.com/evp2008/Icons/pres_big.png"
      alt="Click for www.electoral-vote.com" width="144" height="144" /></a>

    %h2.air_above.clear
      Latest Betting Odds on the Presidential Election.
    <a href="http://www.intrade.com" title="Intrade Prediction Markets">
    <img src="http://www.intrade.com/images/generated/intrade/party.png" border="0" width="300" height="250"
    alt="Betting Odds for 2008 Presidential Election Winner at intrade.com"
    title="Betting Odds for 2008 Presidential Election Winner at intrade.com" border="0"/></a>
    
= partial_include("nav_topics")

     
