- @title = "Give to The Fund for Local Reporting"
.width640.center
  .gutter
    %h1.large_air_below.center
      Sponsor Newsgathering through the Fund for Local Reporting

    %p 
      Your contribution to the Fund for Local Reporting goes directly to pay the independent journalists who do the work of gathering news and writing it up for publication.

    %br
    %p 
      Their stories are made available to the local online press at no additional cost.

    %br
    %p (The William James Association takes a small percentage to pay for administrative costs.)

    %br
    %p
      You have two ways to make a financial contribution:
    %br
    %p
      1) Snail mail: cash, check or money order to:
      %blockquote
        Fund for Local Reporting
        %br
        c/o William James Association
        %br
        P.O. Box 1632
        %br
        Santa Cruz, CA 95061
    %p
      2) Online (the easier way):
    %br
    
    %div{ :style => "border:solid windowtext .5pt;padding:9.0pt 4.0pt 1.0pt 4.0pt" }

      %p{ :align => "center", :style => "text-align:center;border:none;" }
        /%span{ :style => "color:red;background:yellow;mso-highlight:yellow" }
        %i
          I'd like to make a tax deductible contribution to
      %p{ :align => "center", :style => "text-align:center;border:none;" }
        %span{ :style => "font-size:14.0pt;font-family:Arial;color:red;" }
          %b
            The Fund for Local Reporting
        %span{ :style => "font-size:\n    14.0pt;font-family:Arial;color:red" }
      %p{ :align => "center", :style => "text-align:center;border:none;" }
        %br
        %span{ :style => "font-size:12.0pt;font-family:Arial" }
          = render(:partial => 'layouts/google')
        
/= partial_include("nav_topics")

