- @title = "An Open Letter"
.width640.center
  .gutter
    %h1
      An Open Letter
    %br
    %p
      Several Berkeleyans who were aware of
      the nature of the harassment of BDP advertisers became alarmed by the
      increasingly belligerent tactics and consequences of the campaign and
      thought a statement was necessary to clarify the issues from their
      perspective, express what they feel is a community consensus, and
      reassure besieged advertisers. They have no web site or formal
      affiliation, so they asked the Planet to post their statement with
      signatures they are in the process of collecting. We have done so here.
    %br
    %p
      The organizers asked that those who want to be listed send their names and
      identifying information, if they wish, to an email address they have
      set up to collect signatures: 
      %a{ :href => "mailto:signBDPletter@gmail.com"} signBDPletter@gmail.com.
    %hr{:size=>1, :width=>"60%"}
    %br
    %p
      %i We, the undersigned East Bay residents, civic leaders and public officials, decry the attempt by a few individuals to intimidate the Berkeley Daily Planet's advertisers and betray our city's proud heritage of free speech. Local businesses have been confronted -- sometimes in coercive personal store invasions, sometimes through deceptive communications with the stores' national corporate offices -- with indiscriminate threats arising from the Daily Planet's commitment to free expression, specifically its commitment to publishing all shades of opinion on the fractious politics of the Middle East. Those individuals accuse the paper of anti-Semitism. They claim to speak for the Jews of Berkeley; they do not.
    %br
    %p
      %i Some signers of this open letter are Jewish, and some are not. Those who are Jewish resent anyone peddling shameless misrepresentations in their name. The misrepresentations are based on the dangerous notion that anyone who disagrees with the current Israeli government's policies in the Middle East is therefore an anti-Semite. In fact, many Israelis share the opinions that these belligerent individuals characterize as anti-Semitic.
    %br
    %p
      %i The signatories also vary in their opinions of the Daily Planet's local news coverage and editorials. Some support its editorial positions and editing decisions; others do not. What unites us is our admiration for the newspaper's dedication to free speech in the face of a campaign of bullying, hateful deception that jeopardizes its economic survival.
    %br
    %p
      %i Many of us have participated in commercial boycotts in the past, and we respect the right of consumers to demonstrate their disapproval of a business's practices through such boycotts. But there is a significant difference between boycotts and bellicose personal confrontations that frighten small business owners and their clientele. And there is a difference too between boycotts based on credible injustices and those based on shameless misrepresentation.
    %br
    %p
      %i The tactics employed by these few individuals have no place in Berkeley. We are grateful to the Daily Planet for championing the spirit of free speech for which this city is renowned. We have great admiration for the businesses that have courageously advertised in the Daily Planet despite the belligerent pressures to which they have been subjected. We urge our fellow  citizens to join us in demonstrating support for free speech in Berkeley journalism by supporting and celebrating the businesses that resist this hateful intimidation.
    %hr{:size=>1, :width=>"90%"}
    %br
    %h4
      Current Open Letter Signers
    %br
    Claudine Drame, Director of the International Film Festival against Exclusion and for Tolerance
    %br
    %br
    Jeffrey Kaplan
    %br
    %br
    Dr. Fred Foldvary, Director, Civil Society Institute at Santa Clara University
    %br
    %br
    Margot Harrison
    %br
    %br
    Peter Rasmussen
    %br
    %br
    Bruce Africa
    %br
    %br
    Estelle Jelinek
    %br
    %br
    Ralph E. Stone, retired Bay Area attorney
    %br
    %br
    Daniel A. Alpert, education consultant
    %br
    %br
    Daniel A. Snyder
    %br
    %br
    Marjorie P. Lasky, Emerita Professor of History
    %br
    %br
    Barbara Michel
    %br
    %br
    David Eifler
    %br
    %br
    William E. Woodcock
    %br
    %br
    Dorothy Snodgrass
    %br
    %br
    John Feld
    %br
    %br
    Richard Fabry, publisher
    %br
    %br
    Dolores Helman, teacher, mother, grandmother, great-grandmother, civil libertarian and Berkeley Daily Planet advertiser
    %br
    %br
    Tony C.Hill
    %br
    %br
    Betty Lou Bradshaw
    %br
    %br
    Terry Rillera
    %br
    %br
    Lisa Sangita Moskow
    %br
    %br
    Glen Kohler, manager, Bishop Berkeley Apartments
    %br
    %br
    Carol David
    %br
    %br
    Marilyn McMahon
    %br
    %br
    Matthew Taylor, wordsmith/mediator
    %br
    %br
    Teed Rockwell, Philosophy Dept, Sonoma State University
    %br
    %br
    Sydney Carson, PhD
    %br
    %br
    June Brumer
    %br
    %br
    Victor Herbert, mediator of Berkeley community disputes, devotee of First Amendment
    %br
    %br
    Norma Lee Myers, LMFT
    %br
    %br
    Dorothy Bryant
    %br
    %br
    Martha Nicoloff, co-author Neighborhood Preservation Ordinance
    %br
    %br
    Alex Nicoloff, sculptor, artist
    %br
    %br
    Rick Ayers, UC Berkeley
    %br
    %br
    Anne Bernstein
    %br
    %br
    Barbara Lubin, Middle East Children's Alliance
    %br
    %br
    Richard Phelps, Attorney/Mediator
    %br
    %br
    Henry Norr
    %br
    %br
    Leon Wofsy, professor emeritus, UC Berkeley
    %br
    %br
    Bonnie Hughes
    %br
    %br
    Peter Y. Sussman, journalist/author
    %br
    %br
    Chandra Ahuva Hauptman
    %br
    %br
    Judith Berlowitz, PhD
    %br
    %br
    Karen Platt, community college instructor
    %br
    %br
    Carol Sanders
    %br
    %br
    Douglas J. Hill
    %br
    %br
    Wendy Kaufmyn
    %br
    %br
    Mary Erwin
    %br
    %br
    Janet Kobren
    %br
    %br
    Nancy Polin
    %br
    %br
    Kathleen Lilley
    %br
    %br
    Joy Hilden, teacher & author
    %br
    %br
    Wendy Hallinan
    %br
    %br
    Daniel Hallinan
    %br
    %br
    Eleanore Lee
    %br
    %br
    Esther Mohler Ho, retired educator, Hayward
    %br
    %br
    Jeanie Shaterian
    %br
    %br
    Gene B. Herman
    %br
    %br
    Pat Cody, cofounder, Cody's Books
    %br
    %br
    Susan J. Parker
    %br
    %br
    Mal Singer, educator
    %br
    %br
    Heather Merriam
    %br
    %br
    Mal Burnstein, Vice Chair CDP progressive caucus and retired attorney
    %br
    %br
    Gar Smith, Free Speech Movement veteran
    %br
    %br
    John Curl
    %br
    %br
    George Salzman, professor emeritus, Univ. of Massachusetts at Boston
    %br
    %br
    Matt Cantor, BDP advertiser, contributor and Bar Mitzvah boy
    %br
    %br
    Bruce Haldane
    %br
    %br
    Alan S. Kay 
    %br
    %br
    Judy Ann Alberti
    %br
    %br
    Erma Wheatley
    %br
    %br
    Tobey M. Wiebe and Richard P. Wiebe
    %br
    %br
    Jack Sawyer, Ph.D.,  President, Parker Street Foundation
    %br
    %br
    Carolyn S. Scarr, Ecumenical Peace Institute
    %br
    %br
    Michael Katz
    %br
    %br
    Roger & Jean Moss
    %br
    %br
    Bob Burnett, writer
    %br
    %br
    Ellen Hahn, Community Leader
    %br
    %br
    Dena R. Thaler
    %br
    %br
    Kazuye Suyematsu, ceramist
    %br
    %br
    Bruce Harris
    %br
    %br
    Ms. Sally Sommer
    %br
    %br
    Diane Tokugawa
    %br
    %br
    Charlene Mayne Woodcock
    %br
    %br
    Brenda Revsen, Retired Berkeley Teacher
    %br
    %br
    Jean Tepperman
    %br
    %br
    Alison Porter Thomas
    %br
    %br
    Wendy P. Markel, PreSchool Teacher
    %br
    %br
    Terri Compost
    %br
    %br
    Mary Berg, Producer of "A Musical Offering"
    %br
    %br
    Sarah Cahill, pianist and radio producer
    %br
    %br
    James Branson, Managing Editor (Retired), KTVU News
    %br
    %br
    Blane N. Beckwith
    %br
    %br
    Marilyn Pon
    %br
    %br
    Austene Hall, 30-year resident of Berkeley
    %br
    %br
    Carol Denney, musician
    %br
    %br
    Roger Hahn
    %br
    %br
    Annette Herskovits
    %br
    %br
    Ronnie Gilbert, living in Mendocino with $$ and car still tuned to Berkeley
    %br
    %br
    Beverly Voloshin, Professor and chair, Department of English Language and Literature, San Francisco State University
    %br
    %br
    Rita Maran, Ph.D.
    %br
    %br
    Jane and Christopher Adams
    %br
    %br
    Sally Nelson
    %br
    %br
    Sara R. Diamond, Attorney, Berkeley
    %br
    %br
    Zipporah Weiss Collins
    %br
    %br
    Theodore Roszak, Professor Emeritus, California State University East Bay
    %br
    %br
    Ann Hallatt
    %br
    %br
    Glen Hauer
    %br
    %br
    Anne Richardson
    %br
    %br
    Cindy Shamban
    %br
    %br
    Marcia Poole
    %br
    %br
    Mary C. Ford
    %br
    %br
    Marty Schiffenbauer, Ph.D.
    %br
    %br
    Phil McArdle, writer
    %br
    %br
    Karen T. McArdle, writer
    %br
    %br
    Paul Slobodny
    %br
    %br
    Naomi Puro. Trees of Hope
    %br
    %br
    Jack Kurzweil, Wellstone Democratic Renewal Club
    %br
    %br
    Pamela A. Drake
    %br
    %br
    Susan Harman, Ed.D., Oakland reader of Planet, member of JVP, AJJP, and CodePink
    %br
    %br
    Jacqueline Riskin
    %br
    %br
    Harry Wiener
    %br
    %br
    Richard Graham
    %br
    %br
    Tom Lent
    %br
    %br
    Linda Halpern, Educator
    %br
    %br
    Dave Blake, Rent Stabilization Board, Arts Commission, Design Review Committee, former Zoning Adjustment Board chair (affiliations are for identification purposes only)
    %br
    %br
    Chris Gilbert
    %br
    %br
    Louise C. Brown, retired fundraiser
    %br
    %br
    Peter Seidman
    %br
    %br
    Bonnie Benard
    %br
    %br
    Martin B. Friedman
    %br
    %br
    Sophia Ritchie, Middle East Children's Alliance
    %br
    %br
    Claire Kahane, Professor of English Emerita, SUNY-Buffalo, Visiting Scholar, Dept. of English, UC Berkeley
    %br
    %br
    Joel Isaacson
    %br
    %br
    Helen Isaacson
    %br
    %br
    Barbara Roose, WWII Holocaust survivor
    %br
    %br
    Jeanne Pimentel
    %br
    %br
    Victoria Nelson, Senior Lecturer, U.C. Berkeley Rhetoric Dept.
    %br
    %br
    Stephen DeGange, Writer
    %br
    %br
    Ruby Bernstein
    %br
    %br
    Judith Newton
    %br
    %br
    Suzanne Rogalin
    %br
    %br
    Elliot Halpern, Berkeley Citizen, ACLU Board Member
    %br
    %br
    Elizabeth Horowitz
    %br
    %br
    Chana Bloch
    %br
    %br
    Richard Reynolds
    %br
    %br
    Fran Haselsteiner
    %br
    %br
    Jaime Robles
    %br
    %br
    Tom Miller, General Counsel, Global Exchange
    %br
    %br
    Antonio Rossmann, Attorney at Law, Lecturer in Water Resources Law, University of California, Berkeley, School of Law
    %br
    %br
    Patricia Carson Sussman, healthcare consultant
    %br
    %br
    Bob Heaney
    %br
    %br
    Susan Shawl, Oakland
    %br
    %br
    Thomas Lynch, 40 year resident of the Elmwood District
    %br
    %br
    Patti Dacey, Berkeley Planning Commissioner
    %br
    %br
    Norma Armon, PhD
    %br
    %br
    Bob Baldock
    %br
    %br
    Stan Sprague
    %br
    %br
    Maxine Hong Kingston
    %br
    %br
    Daniel S. Beagle
    %br
    %br
    Rebecca J. Kurland, Attorney at Law
    %br
    %br
    Gray Brechin, Visiting Scholar, U.C. Berkeley
    %br
    %br
    Art Goldberg
    %br
    %br
    Sharon Maldonado, retired public school teacher
    %br
    %br
    //Judith Scherr
    /%br
    /%br
    Carol Thornton
    %br
    %br
    Adrianne Borgia, Oakland
    %br
    %br
    Elena Servi Burgess
    %br
    %br
    Adam Sussman
    %br
    %br
    Carmen Rezendes, retired community college instructor
    %br
    %br
    Wendy Bloom, RN
    %br
    %br
    Ann Higgins
    %br
    %br
    Sandra Yolles, Richmond
    %br
    %br
    Marlene Griffith
    %br
    %br
    Ignacio H. Chapela, Associate Professor, UC Berkeley
    %br
    %br
    Ruth Maguire
    %br
    %br
    Robert Vavasour
    %br
    %br
    Ben H Bagdikian, former Dean, UC Graduate School of Journalism
    %br
    %br
    Judy Belcher
    %br
    %br
    Myrna Schnur, Grey Panthers
    %br
    %br
    Wendy Oser
    %br
    %br
    Dan Robbin
    %br
    %br
    Matthew Hallinan, Wellstone Democratic Renewal Club
    %br
    %br
    Penny Rosenwasser, Ph.D.
    %br
    %br
    Tom Taussig,  psychologist
    %br
    %br
    Carole Howard
    %br
    %br
    Lew Levinson
    %br
    %br
    Bruce Jacobs
    %br
    %br
    Susan Tait
    %br
    %br
    E. Kay Trimberger, visiting scholar, UC, Berkeley
    %br
    %br
    L. Carol Christopher
    %br
    %br
    Joan Levinson
    %br
    %br
    Jan Elise Sells, M.F.T.
    %br
    %br
    Conn Hallinan, Daily Planet columnist, Foreign Policy In Focus analyst, former provost at the University of California at Santa Cruz.
    %br
    %br
    Lisa Thompson, writer, designer
    %br
    %br
    Lewis Burgess, UC Berkeley
    %br
    %br
    Michelle Peticolas, Ph.D.
    %br
    %br
    Flora Schultz
    %br
    %br
    Sasha Futran, chair KPFA Local Station Board
    %br
    %br
    Peni Hall
    %br
    %br
    Powell DeGange, Organizer, UNITE HERE Local 30
    %br
    %br
    Cyril Drame, Researcher
    %br
    %br
    Alan Gould, Curriculum Developer
    %br
    %br
    Robert Kanter, Emeryville
    %br
    %br
    Loralee Windsor
    %br
    %br
    Arthur & Martha Luehrmann
    %br
    %br
    Sandy Sher
    %br
    %br
    Rob Browning, Talavera Ceramics
    %br
    %br
    Hope Coffin, architect, Berkeley resident since 1959
    %br
    %br
    Kate Frankel
    %br
    %br
    Steve Martinot
    %br
    %br
    Carol Pitts
    %br
    %br
    Steve Lustig
    %br
    %br
    Robert Blau
    %br
    %br
    Cynthia Papermaster, National Accountability Action Network, CODEPINK
    %br
    %br
    Carol Sklenicka, writer
    %br
    %br
    Carl Friberg
    %br
    %br
    Daniel Knapp, Ph.D.  CEO, Urban Ore, Inc.
    %br
    %br
    Bernard Marszalek, www.jasecon.org
    %br
    %br
    David Mundstock
    %br
    %br
    Asa Dodsworth, Berkeley Born and Raised
    %br
    %br
    Annette R Floystrup, Oakland Community Activist
    %br
    %br
    Irving & Linnea Gershenberg
    %br
    %br
    Eric C. S. Dynamic, Social Justice Advocate
    %br
    %br
    Hassan Fouda, Ph.D.
    %br
    %br
    David Isaac Tam, Zero Waste/Anti-Sprawl Advocate
    %br
    %br
    Deirdre English
    %br
    %br
    Councilmember Jesse Arreguin, City of Berkeley, District 4
    %br
    %br
    Bruce Joffe. Piedmont
    %br
    %br
    Debra Golata
    %br
    %br
    Alice Diane Kisch
    %br
    %br
    Charles Siegel
    %br
    %br
    Alison Weir
    %br
    %br
    Helene Knox, UC Berkeley PhD, Free Speech Movement veteran, Fulbright lecturer, poet, editor, MDiv from Starr King School for the Ministry, Berkeley
    %br
    %br
    Rachel O'Malley, Associate Professor, San Jose State University (for identification only)
    %br
    %br
    Dave Weinstein, El Cerrito
    %br
    %br
    Jane Powell, author, once and future BDP columnist
    %br
    %br
    John H. McManus, founder of GradeTheNews.org
    %br
    %br
    Cynthia Stokes Brown, author
    %br
    %br
    Elliot Cohen, former Peace and justice Commissioner
    %br
    %br
    Andrew A. Stern, Professor Emeritus, Graduate School of Journalism, University of California, Berkeley
    %br
    %br
    John Burnsides, Albany resident
    %br
    %br
    Professor Keith Miller (Emeritus, Math, U.C. Berkeley)
    %br
    %br
    Jacqueline Beth
    %br
    %br
    John T. Selawsky, Director and Clerk, Berkeley Board of Education
    %br
    %br
    Theodora Crawford
    %br
    %br
    Mal Singer
    %br
    %br
    Harry Brill, labor activist and retired faculty member, University Of Massachusetts
    %br
    %br
    Ethel Ruymaker
    %br
    %br
    Jane and Tom Kelly
    %br
    %br
    Roger Van Ouytsel, Berkeley and Cochiti Lake, N.M., neighborhood activist and artist
    %br
    %br
    Mary Lou Van Deventer, Operations Manager, Urban Ore, enthusiastic Daily Planet advertiser
    %br
    %br
    Raymond A. Chamberlin, retired electronics engineer
    %br
    %br
    Michael Parenti, Ph.D., author and public speaker
    %br
    %br
    Arlene Giordano owner of Le Bateau Ivre
    %br
    %br
    Karen Wells
    %br
    %br
    Peter Byrne, investigative journalist
    %br
    %br
    Nancy McKay, former Berkeley business owner, San Francisco business owner, Oakland resident
    %br
    %br
    Lincoln Bergman, educator/poet
    %br
    %br
    Nancy Van Zwalenburg
    %br
    %br
    Louis Tondu, mechanic
    %br
    %br
    Larry Bensky
    %br
    %br
    Peter and Carole Selz
    %br
    %br
    John A. McMullen II, Telemarketing For the Arts
    %br
    %br
    Ruth Rosen, historian and journalist
    %br
    %br
    Dick Bagwell
    %br
    %br
    Judy Nakadegawa
    %br
    %br
    Jerry Landis
    %br
    %br
    Mal Warwick, Founder & Chairman, Mal Warwick Associates
    %br
    %br
    L. Boutelle
    %br
    %br
    Ingrid M. Kollmann, property owner
    %br
    %br
    John Geluardi, journalist
    %br
    %br
    Osman Vincent, retired
    %br
    %br
    Paul Rabinow
    %br
    %br
    MaryAnn Hayden, Oakland
    %br
    %br
    Shirley Barker
    %br
    %br
    Marvin Chachere
    %br
    %br
    Jane Stillwater
    %br
    %br
    Joanne Kowalski
    %br
    %br
    A. M. Kandarian, MPH
    %br
    %br
    Jesse Townley, Rent Stabilization Board, Disaster & Fire Safety Commission, KALX Radio (for identification purposes only)
    %br
    %br
    Merrilie Mitchell
    %br
    %br
    Gale Garcia
    %br
    %br
    Richard Walker
    %br
    %br
    Victor Garlin
    %br
    %br
    Virginia H King, CFP
    %br
    %br
    James Delaney
    %br
    %br
    Eliza O'Malley, musician
    %br
    %br
    Fred Dodsworth, writer and activist
    %br
    %br
    John Feld
    %br
    %br
    Mark Liolios
    %br
    %br
    Karen Folger Jacobs
    %br
    %br
    Don Macleay
    %br
    %br
    Meaveen O'Connor
    %br
    %br
    Avis Worthington
    %br
    %br
    Herbert L. Strauss
    %br
    %br
    R.G.Davis Ph.D.  founder and first director of the SF Mime Troupe
    %br
    %br
    Juliet Lamont, Ph.D., Environmental Consultant
    %br
    %br
    Rizwan A. Rahmani, Oakland
    %br
    %br
    Madeline Duckles
    %br
    %br
    Gail Brown
    %br
    %br
    Fredrica Drotos
    %br
    %br
    Hank Chapot, UC Berkeley Gardener
    %br
    %br
    Stephen Wollmer, Cartographer
    %br
    %br
    Sherry H. Smith, lawyer
    %br
    %br
    Sheila Goldmacher, peace and justice activist
    %br
    %br
    Virginia Rich
    %br
    %br
    Richard Bermack
    %br
    %br
    Sharon Hudson, Daily Planet reader
    %br
    %br
    Anne Griffiths, RPT
    %br
    %br
    Gar Smith, Editor Emeritus, Earth Island Journal, Free Speech Movement veteran
    %br
    %br
    Roy Nakadegawa P.E., former publicly elected Transit Director to BART & AC Transit  - served 32 years
    %br
    %br
    Eleanor Walden
    %br
    %br
    Mark Gorrell
    %br
    %br
    Esther Green & Michael Jones
    %br
    %br
    Samuel R. Peterson, Ph. D., Middle Eastern Studies
    %br
    %br
    Romina Di Gasbarro
    %br
    %br
    Lewis Dolinsky, journalist.
    %br
    %br
    Sharon Rudnick, Rudnick Consulting, Berkeley
    %br
    %br
    Nancy Carleton, neighborhood leader; former Chair, Zoning Adjustments Board
    %br
    %br
    Judith Epstein, Ph.D.
    %br
    %br
    Larry Rothe
    %br
    %br
    Mary Prophet
    %br
    %br
    Daniel Stone
    %br
    %br
    %br
    %br
    