#content

  %p{:align=>:center, :style=>'text-align:center'}
    %span{ :style=>'font-size:20pt'}
      %b
        The Berkeley Daily Planet
      %br/

      %i
        Announces
      %br/
    %span{ :style=>'font-size:20pt;font-family:"Arial Black"'}
      %b Free Email Subscriptions!

    %br/
    %br/
    %br/
    %span{ :style=>'font-size:14pt'}
      %b As well as lots of other ways to keep up with the latest news and opinion in Berkeley and the inner east bay.
  %br/
  %br/
  %br/
  %br/

  %p{ :style=>'margin-left:.5in;text-indent:-.25in;tab-stops:list .5in'}
    %i (1) 
    %b Keep up with the latest news from The Planet via Email:  
    %span{ :style=>'font-weight:normal'}
      ==  #{fool_spam("subscribe")}.

  %p{ :style=>'margin-left:1.5in;text-indent:-.25in;tab-stops:list .5in'}
    %b Of course, you can always unsubscribe:  
    %span{ :style=>'font-weight:normal'}
      ==  #{fool_spam("unsubscribe")}.
  %br/
  %br/
  %p{ :style=>'margin-left:.5in;text-indent:-.25in;tab-stops:list .5in'}
    %i (2) 
    %b Check out our Facebook page
    %span{ :style=>'font-weight:normal'}
      %a{ :href => "http://www.facebook.com/pages/Berkeley-CA/The-Berkeley-Daily-Planet/331325891599" }
        here.    
  %br/
  %br/
  %p{ :style=>'margin-left:.5in;text-indent:-.25in;tab-stops:list .5in'}
    %i (3) 
    %b If you can tweet, we have Twitter
    %span{ :style=>'font-weight:normal'}
      %a{ :href => "http://www.twitter.com/PlanetBerkeley" }
        www.twitter.com/PlanetBerkeley.    
  %br/
  %br/
  %p{ :style=>'margin-left:.5in;text-indent:-.25in;tab-stops:list .5in'}
    %i (4) 
    %b We also, of course, have an RSS feed:
    %span{ :style=>'font-weight:normal'}
      %a{ :href => "http://berkeleydailyplanet.com/feeds/full.rss" }
        berkeleydailyplanet.com/feeds/full.rss.    
  %br/
  %br/
  %p{ :style=>'margin-left:.5in;text-indent:-.25in;tab-stops:list .5in'}
    %i (5) 
    %b And if you have helpful suggestions or even offers to help make this web site more useful:
    %span{ :style=>'font-weight:normal'}
      ==  #{fool_spam("volunteer")}.
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/

  %p{ :align=>:center, :style=>'margin-left:.25in;text-align:center'}
    %span{ :style=>'font-size:14pt'}
      %b
        %i 
          There now, won't it make you feel good
          %br/
          to be part of the Planet's East Bay community?

  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
          


