- @title = "Thanks for giving!"
#content
  .gutter
    %h1.large_air_below
      Thank you for contributing to The Fund for Local Reporting!
    /
      %p
      If you have not yet registered as a Friend of the Planet, you may do so
      = link_to 'here.', new_supporter_path
      %br
    %p
      You may click 
      = link_to 'here', empty_path
      to return to the current issue.
= partial_include("nav_topics")
 
