- @title = "Contents for #{title()}"
/.gutter
#summary
  /#tops.center
  /  = partial_include("public/top_head")
  %br
  %br
  %h1.air_below.clear.air_above
    Table of Contents

  = partial_include("headlines")
