Give $240 to The Fund for Local Reporting.
%form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post" }
  %input{ :name => "cmd", :type => "hidden", :value => "_s-xclick" }
  %input{ :name => "hosted_button_id", :type => "hidden", :value => "3006437" }
  %input{ :name => "submit", :src => "https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image", :border => "0", :alt => "" }
  %img{ :src => "https://www.paypal.com/en_US/i/scr/pixel.gif", :border => "0", :height => "1", :alt => "", :width => "1" }
%br
Give $120 to The Fund for Local Reporting.
%form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post" }
  %input{ :name => "cmd", :type => "hidden", :value => "_s-xclick" }
  %input{ :name => "hosted_button_id", :type => "hidden", :value => "3006470" }
  %input{ :name => "submit", :src => "https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image", :border => "0", :alt => "" }
  %img{ :src => "https://www.paypal.com/en_US/i/scr/pixel.gif", :border => "0", :height => "1", :alt => "", :width => "1" }
%br
Give $60 to The Fund for Local Reporting.
%form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post" }
  %input{ :name => "cmd", :type => "hidden", :value => "_s-xclick" }
  %input{ :name => "hosted_button_id", :type => "hidden", :value => "3005826" }
  %input{ :name => "submit", :src => "https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image", :border => "0", :alt => "" }
  %img{ :src => "https://www.paypal.com/en_US/i/scr/pixel.gif", :border => "0", :height => "1", :alt => "", :width => "1" }
%br
Give an amount of your own choosing to The Fund for Local Reporting.
%form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post" }
  %input{ :name => "cmd", :type => "hidden", :value => "_s-xclick" }
  %input{ :name => "hosted_button_id", :type => "hidden", :value => "3006511" }
  %input{ :name => "submit", :src => "https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image", :border => "0", :alt => "" }
  %img{ :src => "https://www.paypal.com/en_US/i/scr/pixel.gif", :border => "0", :height => "1", :alt => "", :width => "1" }
